@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

:root {
    --main-color: #1992D4;
    --accent-color: #F0B429;
    --background-color: #E2E8F0;
    --alternate-bg-color: #FFFFFF;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    min-height: 100vh;
    min-width: 320px;
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--background-color);
    font-family: 'Roboto Flex', system-ui, sans-serif;
    color: #636363;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    color: #000000;
}

p {
    margin: 0 0 1rem 0;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.content__title {
    margin-bottom: 1rem;
}

.books-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: minmax(min-content, 200px);
    align-items: start;
    justify-content: start;
}


.book .mdc-card__actions {
    justify-content: end;
}

.book__title,
.book__author,
.book__pages,
.book__read {
    padding: 8px;
}
